<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>首页</title>
</head>

<body>
  <header>
    <%= require('html-loader!./header.html') %>
  </header>
  <main>
    <div class="posts">
      <% for (let post of htmlWebpackPlugin.options.posts) { %>
        <div class="post">
          <a href="<%= post.path %>" class="post-title">
            <%= post.meta.title %>
          </a>
          <div class="post-summary">
          <%= post.summary %>
          </div>
          <div class="post-footer">
          Date: <%= post.meta.date %>
          </div>
        </div>
      <% } %>
    </div>
  </main>
</body>

</html>